*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:visited,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: inherit;
}

.nav-bar
{
    position: sticky;
    top: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 0.5em;
    height: 5vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    position: fixed;
    top: 0;
    float: left;
    background-color: #f0f0f0;
    overflow: hidden;
    transition: 0.2s;

    height: 100vh;
    width: 0px;
    padding-top: 1em;
    gap: 2em;

    .my-img
    {
        width: 6em;
        height: 6em;
        border-radius: 100%;
    }

    .txt
    {
        font-size: 3em;
    }

    .links
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1em;

        a
        {
            font-size: 1.5em;
            text-decoration: none;
            text-align: center;
            color: #333333;
        }

        a:hover
        {
            padding-left: 1em;
        }
    }

}

#sidebar.open
{
    width: 15%;
}

#sidebar.open ~ .home
{
    width: 85%;
    margin-left: 15%;
}

.sidebar-btn
{
    #openbtn
    {
        font-size: 2em;
        background: none;
        border: none;
        cursor: pointer;
    }

}

.nav-right
{
    i
    {
        font-size: 2em;
    }
}

.home
{
    transition: 0.2s;
    width: 100%;
}

@media (max-width: 600px)
{
    *
    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .nav-bar
    {
        position: sticky;
        top: 0.5em;
        padding-left: 1em;
        padding-right: 1em;
        margin-top: 0.5em;
        height: 8vh;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-right
    {
        i
        {
            font-size: 1.5em;
        }
    }

    .sidebar
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;

        position: fixed;
        top: 0;
        float: left;
        background-color: #f0f0f0;
        overflow: hidden;
        transition: 0.3s;

        height: 100vh;
        width: 0px;
        padding-top: 1em;
        gap: 1em;

        .my-img
        {
            width: 4em;
            height: 4em;
            border-radius: 100%;
        }

        .txt
        {
            font-size: 3em;
        }

        .links
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 0.5em;

            a
            {
                font-size: 1em;
                text-decoration: none;
                text-align: center;
                color: #333333;
            }

            a:hover
            {
                padding-left: 1em;
            }
        }
    }

    .sidebar-btn
    {
        #openbtn
        {
            font-size: 1.5em;
            background: none;
            border: none;
            cursor: pointer;
        }

    }

    #sidebar.open
    {
        width: 30%;
    }

    #sidebar.open ~ .home
    {
        width: 70%;
        margin-left: 30%;
    }
}
