.home-container
{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-brands
{
    font-size: 2em;
}

.icons
{
    display: flex;
    justify-content: center;
    gap: 1em;
}
