.home-container
{
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-brands
{
    font-size: 2em;
}

.icons
{
    display: flex;
    justify-content: center;
    gap: 1em;
}

@media (max-width: 600px)
{
    .home-container
    {
        height: 92vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fa-brands
    {
        font-size: 1.5em;
    }

    .icons
    {
        display: flex;
        justify-content: center;
        gap: 1em;
    }
}
